# Ignore Maven target directory
/target/
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
# Ignore IntelliJ IDEA files
/.idea/
*.iml

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

*.ipr
*.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore application properties
application.properties

# Ignore Docker files
*.pid

# Ignore paho directories
paho*/

# Ignore other unnecessary files
*.bak
*.swp
*.swo
*.orig
*.rej

